header.header
    nav
        ul.nav-items
            li.nav-item
                a.nav-link(href="/") Homepage
            li.nav-item
                a.nav-link(href="/alternatives") Alternatives
            li.nav-item
                a.nav-link(href="/criteria") Criterias
            li.nav-item
                a.nav-link(href="/marks") Marks
            li.nav-item
                a.nav-link(href="/vectors") Vectors
            li.nav-item
                a.nav-link(href="/results") Results
            li.nav-item
                a.nav-link(href="/lprs") LPRs
