extends base

block content
    main.main
        h2 Название алтернативы
                each alternative in alternatives           
                    div
                            altName= alternative.AName
                                linkAlt   
                                    hr
                                    li.nav-item
                                        a.nav-link(href="/") Редактировать
                                    li.nav-item
                                        a.nav-link(href="/") Свойства 
                                    li.nav-item                              
                                        a.nav-link(href="/") Удалить
                                    hr
                        
