extends base

block content
    h2 Название альтернативы
    .table.table--big
        each alternative in alternatives           
            .table-row
                .table-cell
                    h4.table__title= alternative.AName
                .table__actions   
                    li.nav-item
                        a.nav-link(href="/") Редактировать
                    li.nav-item                              
                        a.nav-link(href="/") Удалить
                        
