extends base

block content
    .main-title
        h1 Лабораторная работа
        h2 Методы оптимизации и теория игр
    .tables-overview
        .overview
            .overview__heading Alternatives
            .overview__description Список альтернатив для выбора пользователем
            a.overview__link(href="/alternatives") Просмотреть данные 
        .overview
            .overview__heading Criteria
            .overview__description Список критериев для оценки альтернатив
            a.overview__link(href="/criteria") Просмотреть данные
        .overview
            .overview__heading Marks
            .overview__description Список оценок альтернатив по критериям
            a.overview__link(href="/marks") Просмотреть данные
        .overview
            .overview__heading Results
            .overview__description В процесе разработки
            a.overview__link(href="/results") Просмотреть данные
        .overview
            .overview__heading Vectors
            .overview__description Список альтернатив, их критериев и оценок по ним
            a.overview__link(href="/vectors") Просмотреть данные
        .overview
            .overview__heading LPRs
            .overview__description В процесе разработки
            a.overview__link(href="/lprs") Просмотреть данные
           
        