extends base

//-
    {
  "1": {
    name: "HP Pavilion Gaming 15-bc504ur (7DT87EA)",
    values: [
      {
        CName: "уровень шума",
        MName: "средний",
      },
      {
        CName: "вес",
        MName: "2.2",
      },
      {
        CName: "тип матрицы",
        MName: "SVA",
      },
      {
        CName: "цена",
        MName: "18 499",
      },
      {
        CName: "видеокарта",
        MName: "nVidia GeForce GTX 1050, 3 ГБ",
      },
      {
        CName: "Объем ОЗУ",
        MName: "8",
      },
      {
        CName: "разрешение экрана",
        MName: "1920x1080",
      },
    ],
  },

block content
    h2 Векторы

    .vectors-tables
        each vector in vectors
            .table.table-vector
                h3= vector.name
                each value in vector.values
                    .table-row
                        .table-cell
                            p= value.CName
                        .table-cell
                            p= value.MName
                
                    
            