html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    box-sizing: border-box;
}

* { 
    padding: 0; 
    margin: 0;
    box-sizing: inherit;
}

header {
    height: 8rem;
    padding: 2rem;
    background: #2c3e50;
    color: #fff;
    display: flex;
    align-items: center;
}

header .nav-items {
    display: flex;
    list-style: none;
}

header .nav-item {
    padding: 0 1.5rem;
    font-size: 2.2rem;
}

header .nav-link {
    color: inherit;
    text-decoration: none;
    transition: all .2s;
}

.footer {
    height: 6rem;
}

header .nav-link:hover{
    color: orange;
}

main {
    color: #000;
    padding: 2rem;
    background-color: #f8f8f8;
    min-height: 80vh;
}

.main-title {
    padding: 3rem;
    background-color: #ddd;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.tables-overview {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.overview {
    padding: 1rem;
    font-size: 1.8rem;
}

.overview__heading {
    font-size: 2.4rem;
    font-weight: 700;
}

.overview__link {
    color: inherit;
    font-size: 1.4rem;
    text-decoration: none;
    padding: 1rem;
    text-align: center;
    border: 1px solid #ccc;
}

.table {
    display: table;
    font-size: 1.6rem;
}

.table--big {
    font-size: 1.8rem;
}

.table div {
    margin-right: 2rem;
    padding: 1rem;
}

.table-row {
    display: table-row;
}

.table-row:nth-child(odd) {
    background-color: #ddd;
}

.table-row:nth-child(even) {
    background-color: #f5f5f5;
}

.table-row > div {
    display: table-cell;
}

.table-cell {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.table__title {
    font-weight: 700;
    flex: 1;
}

.table__actions {
    display: flex;
}

main li {
    display: inline-block;
}

main a {
    color: blue;
    display: inline-block;
    padding-left: 20px;
    font-size: 100%;
    text-decoration: none;
}

main a:active{
    color: white;
}

main a:hover{
    color: black;
}

.form {
    padding: 1rem;
    margin: 2rem 0;
    border: 1px solid #212121;
    border-radius: 5px;
    max-width: 70rem;
}

.form__alternative {
    width: 50rem;
    display: flex;
    flex-direction: column;
}

.form__alternative input[type="text"] {
    margin-bottom: 1rem;
}

.form__input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 1rem;
}

.form__input--column {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

input, select, option {
    width: 100%;
    display: block;
    font-family: inherit;
    padding: .5rem 1rem;
    font-size: 2rem;
    color: #000;
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
    width: 15rem;
}

#add-alt {
    margin: 0;
}